@import '_modules/variables';
@import '_modules/mixins';

.breadcrumb {
  &__body {
    display: flex;
    flex-direction: row;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 12px;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $font-1;
    font-size: 14px;
    color: #C4C4C4;
    margin-right: 8px;
    &:before {
      content: '/';
      display: block;
      color: #C4C4C4;
      margin-right: 8px;
    }
    &:first-child {
      &:before {
        display: none;
      }
    }
  }
  &__link {
    display: block;
    color: #C4C4C4;
    font-family: $font-1;
    font-size: 14px;
    &:hover {
      color: $gold;
      &:after {
        transform: translateX(0);
        background-color: $gold;
      }
    }
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: transparent;
      transition: all 300ms ease;
      transform: translateX(-10px);
    }
  }
  &__prev {
    display: inline-flex;
    margin-right: 15px;
  }
  &__icon {
    width: 18px;
    height: 18px;
    fill: $black;
    transition: all 300ms ease;
    &:hover {
      fill: $gold;
    }
  }
}