@import '_modules/variables';
@import '_modules/mixins';

.reviews {
  &__list-platforms {
    margin-top: 20px;
  }
  &__list-reviews {
    margin-top: 30px;
    @include xs {
      margin-top: 10px;
    }
  }
}

.list-platforms {
  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  &__item {
    display: inline-flex;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 15px;
    @include xs {
      margin-right: 15px;
    }
    &:hover {
      .list-platforms__count {
        color: $gold;
        transform: translateX(5px);
      }
      .list-platforms__img {
        box-shadow: 0 0 0 2px $gold, 0 6px 30px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
  &__count {
    display: block;
    font-size: 12px;
    color: $green;
    margin-bottom: 10px;
    transition: all 300ms ease;
    @include xs {
      margin-bottom: 5px;
    }
  }
  &__img {
    transition: all 300ms ease;
  }
}

.list-reviews {
  &__row {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    @include below(500px) {
      padding: 0 15px;
    }
  }
  &__item {
    margin: 30px 0;
    @include xs {
      margin: 20px 0;
    }
  }
  &__head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    @include below(500px) {
      margin-bottom: 0;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    @include xs {
      padding-left: 20px;
    }
  }
  &__person {
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    @include below(500px) {
      width: 50px;
      height: 50px;
    }
  }
  &__name {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: $green;
    @include below(500px) {
      font-size: 14px;
    }
  }
  &__date {
    display: block;
    color: #9B9B9B;
    margin-top: 5px;
  }
  &__descr {

  }
}