footer.footer-page
  .container-fluid
    .footer-page__container
      .footer-page__col-left
        a.logo(href="index.html")
          img.lazy(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 101 34'%3E%3C/svg%3E" data-src="assets/img/logo-white.png", alt="")
        a.footer-page__call(href="tel:+88461001010")
          +svg('phone', 'footer-page__icon')
          | 8 (846) 100-10-10
        a.footer-page__email(href="mailto:info.pochtaaa@mail.ru")
          +svg('mail', 'footer-page__icon')
          | info.pochtaaa@mail.ru
      .footer-page__col-right
        .list-footer-nav.footer-page__list-footer-nav
          li.list-footer-nav__item
            a.list-footer-nav__link(href="index.html") Главная
          li.list-footer-nav__item
            a.list-footer-nav__link(href="#") О нас
          li.list-footer-nav__item
            a.list-footer-nav__link(href="#") Доставка
          li.list-footer-nav__item
            a.list-footer-nav__link(href="#") Контакты
          li.list-footer-nav__item
            a.list-footer-nav__link(href="catalog-stocks.html") Акции
          li.list-footer-nav__item
            a.list-footer-nav__link(href="catalog.html") Каталог
          li.list-footer-nav__item
            a.list-footer-nav__link(href="#") Оплата
          li.list-footer-nav__item
            a.list-footer-nav__link(href="reviews.html") Отзывы

  
