.popups(style="display: none;")
  .popup.popup_request
    .popup__container
      a.popup__close(href="#")
        +svg('cross', 'popup__close-icon')
      h4.popup__head-title Оставьте заявку на расчет
      p.popup__descr Перезвоним вам в течение получаса
      form.form-request.popup__form-request
        h4.form-request__title Как вас зовут?
        input.form-request__field(type="text" placeholder="Например: Иван")
        h4.form-request__title Ваш номер телефона*
        input.form-request__field(type="text" placeholder="+7 (___) ___-__-__" required)
        h4.form-request__title Ваш Email*
        input.form-request__field(type="text" placeholder="Например: ivanov@mail.ru" required)
        button.form-request__btn(type="submit") Оставить заявку

  .popup.popup_done
    .popup__container
      a.popup__close(href="#")
        +svg('cross', 'popup__close-icon')
      h4.popup__head-title.popup__head-title_center Заявка принята
      p.popup__descr.popup__descr_center Ожидайте звонка