@import '_modules/variables';
@import '_modules/mixins';

/* Swiper */
.swiper-pagination {
  z-index: 5;
  position: absolute;
  top: 150px !important;
  left: calc(50% - 585px) !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 20px;
  @include md {
    left: calc(50% - 465px) !important;
  }
  @include sm {
    left: calc(50% - 355px) !important;
  }
  @include xs {
    top: 100px !important;
    left: 20px !important;
  }
  @include below(650px) {
    left: 15px !important;
  }
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 9px 0 !important;
  background: #DFD8CA;
  border-radius: 1px;
  transform: rotate(-45deg);
  opacity: 1 !important;
  transition: all 1600ms ease;
  outline: none;
  @include below(650px) {
    width: 8px;
    height: 8px;
    margin: 6px 0 !important;
  }
}
.swiper-pagination-bullet-active {
  background: #00523B;
  box-shadow: 0px 4px 8px rgba(9, 64, 48, 0.37);
}
.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 24px;
  outline: none;
  margin-top: -17px;
  background: none;
  user-select: none;
  svg {
    fill: #55a9b6;
    width: 18px;
    height: 18px;
  }
}
.swiper-button-next {
  position: absolute;
  top: 50%;
  right: 0;
  width: 18px;
  height: 24px;
  outline: none;
  margin-top: -17px;
  background: none;
  user-select: none;
  svg {
    fill: #55a9b6;
    width: 18px;
    height: 18px;
  }
}
.slider-objects {
  .swiper-pagination {
    position: static;
    padding: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }
  .swiper-pagination-bullet {
    display: block ;
    flex-basis: 25%;
    max-width: 25%;
    width: 100%;
    height: 7px;
    border-radius: 0;
    background: $white;
    margin: 0 !important;
    padding: 0;
    outline: none;
    border: none;
    opacity: 1;
    border: 1px solid #d7d7d7;
  }
  .swiper-pagination-bullet-active {
    background: #de2223;
    opacity: 1;
  }
}

// Custom Select
.custom-select {
  position: relative;
  font-family: Arial;
}
.custom-select select {
  display: none; /*hide original SELECT element: */
}
.select-selected {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  font-size: 14px;
  color: #9B9B9B;
  max-width: 180px;
  padding-right: 25px;
  cursor: pointer;
  transition: all 300ms ease;
  &:hover {
    color: $gold;
  }
}
/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 50%;
  right: 5px;
  width: 0;
  height: 0;
  margin-top: -6px;
  border: solid #9B9B9B;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3.5px;
  transform: rotate(45deg);
  transition: all 300ms ease;
}
/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: rotate(-135deg);
  margin-top: 0;
}
/* style the items (options), including the selected item: */
.select-items div {
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
  transition: all 300ms ease;
}
/* Style items (options): */
.select-items {
  z-index: 99;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-width: 180px;
  background-color: $white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}
/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}
.select-items div {
  &:hover {
    background-color: lighten($gold, 10%);
    color: $black;
  }
}
.select-items .same-as-selected {
  background-color: $gold;
  color: $white;
  pointer-events: none;
}
