extends pug/base

append vars
  - var title = 'Catalog 1'

block styles
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Playfair+Display:400,400i,700,700i&display=swap&subset=cyrillic" rel="stylesheet")
  link(href=`assets/css/main.css` rel="stylesheet")

block content
  main
    .layout__content
      .page-catalog
        .container-fluid
          .layout__wrapper
            .layout__sidebar
              // Sidebar
              aside.sidebar-page
                .category
                  .category-head-link
                    +svg('catalog', 'category-head-link__icon')
                    span.category-head-link__name Категории
                  ul.list-category.category__list-category
                    li.list-category__item 
                      a.list-category__link Классические двери
                        +svg('arrow-category', 'list-category__icon')
                    li.list-category__item 
                      a.list-category__link Неоклассика
                        +svg('arrow-category', 'list-category__icon')
                    li.list-category__item 
                      a.list-category__link Современный стиль
                        +svg('arrow-category', 'list-category__icon')
                    li.list-category__item 
                      a.list-category__link Дизайн
                        +svg('arrow-category', 'list-category__icon')
                    li.list-category__item 
                      a.list-category__link Цельностеклянные двери
                        +svg('arrow-category', 'list-category__icon')


            .layout__container
              // Content
              .breadcrumb
                ul.breadcrumb__list
                  li.breadcrumb__item
                    a.breadcrumb__link(href="#") Главная
                  li.breadcrumb__item Каталог
        

