extends pug/base

append vars
  - var title = 'Collection'
  

block content
  main
    .layout__content
      .page-collection
        .container-fluid
          .layout__wrapper
            .layout__sidebar
              // Sidebar
              aside.sidebar-page
                .category
                  a.category-head-link(href="#")
                    +svg('catalog', 'category-head-link__icon')
                    span.category-head-link__name Категории
                  ul.list-category.category__list-category
                    li.list-category__item 
                      a.list-category__link(href="#") Классические двери
                        +svg('arrow-category', 'list-category__icon')
                    li.list-category__item 
                      a.list-category__link(href="#") Неоклассика
                        +svg('arrow-category', 'list-category__icon')
                    li.list-category__item 
                      a.list-category__link(href="#") Современный стиль
                        +svg('arrow-category', 'list-category__icon')
                    li.list-category__item 
                      a.list-category__link(href="#") Дизайн
                        +svg('arrow-category', 'list-category__icon')
                    li.list-category__item 
                      a.list-category__link(href="#") Цельностеклянные двери
                        +svg('arrow-category', 'list-category__icon')


            .layout__container
              // Content
              .collection
                .breadcrumb
                  ul.breadcrumb__list
                    li.breadcrumb__item
                      a.breadcrumb__link(href="#") Главная
                    li.breadcrumb__item
                      a.breadcrumb__link(href="#") Каталог
                    li.breadcrumb__item Коллекция Luxury

                .title-sm Коллекция Luxury

                .jumbotron.collection__jumbotron
                  .jumbotron__container.lazy(data-bg="url(assets/img/collection/jumbotron/luxury.png)" href="#")
                    h4.jumbotron__title Коллекция Luxury
                    p.jumbotron__descr Двери премиум класса, изготовленные с применением ценных пород дерева, европейского шпона и итальянской эмали. Эти двери для тех, кто привык выбирать лучшее. Резные элементы, выполненные по эскизам авторской работы, изящество и грация, изысканный цвет отделки, благородные пропорции, естественная элегантность.

                .list-collection.collection__list-collection
                  .list-collection__row
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Августа
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-1.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Августа-2
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-2.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Аленсо
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-3.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Арена
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-4.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Барбара
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-5.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Барон
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-6.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Бакокко
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-7.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Венеция
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-8.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Венеция-2
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-9.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Венеция-D
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-10.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Версаль
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-11.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Виченца
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-12.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Виченца-2
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-13.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Виченца-3
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-14.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Женева
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-15.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Женева-F
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-16.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Итака
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-17.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Кантри
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-18.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Корфу
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-19.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Корфу-Р
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-20.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Лаура
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-21.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Лаура-P
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-22.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Маркиза
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-23.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Мартини
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-24.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Неаполь
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-25.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Родос
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-26.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Росси
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-27.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Селена
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-28.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name София
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-29.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Турин-D
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-30.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Мадрид
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-31.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Чикаго-D
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-32.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Эллада
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-33.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Эллада-2
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-34.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Барселона
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-35.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Бостон
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-36.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Гранд
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-37.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Дуэт
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-38.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Калипсо
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-39.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Калипсо-F
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-40.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Лион
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-41.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Марго
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-42.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Марта
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-43.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Марта-F
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-44.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Махаон
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-45.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Милан
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-46.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Мира
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-47.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Монако
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-48.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Ника
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-49.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Ника-F
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-50.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Оливия
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-51.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Омега
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-52.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Премьера
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-53.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Ривьера
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-54.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Соло
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-55.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Соренто
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-56.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Трио
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-57.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Турин
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-58.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Турин-B
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-59.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Фаворит
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-60.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Чикаго
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-61.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Чикаго-В
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-62.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Чикаго-М
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-63.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Чикаго-О
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-64.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Элегант
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-65.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Элегант-В
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-66.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Вита
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-67.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Вита-2
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-68.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Галактика
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-69.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Лайн
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-70.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Дакота
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-71.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Дюна
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-72.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Рондо
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-73.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Рондо-2
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-74.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Рондо-3
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-75.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Рондо-4
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-76.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Уэльс
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-77.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Шотти
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-78.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Юнона
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-79.png", alt="")
                    
        
        

