extends pug/base

append vars
  - var title = 'Collection'

block content
  main
    .layout__content
      .page-collection
        .container-fluid
          .layout__wrapper
            .layout__sidebar
              // Sidebar
              aside.sidebar-page
                .category
                  a.category-head-link(href="#")
                    +svg('catalog', 'category-head-link__icon')
                    span.category-head-link__name Категории
                  ul.list-category.category__list-category
                    li.list-category__item 
                      a.list-category__link(href="#") Классические двери
                        +svg('arrow-category', 'list-category__icon')
                    li.list-category__item 
                      a.list-category__link(href="#") Неоклассика
                        +svg('arrow-category', 'list-category__icon')
                    li.list-category__item 
                      a.list-category__link(href="#") Современный стиль
                        +svg('arrow-category', 'list-category__icon')
                    li.list-category__item 
                      a.list-category__link(href="#") Дизайн
                        +svg('arrow-category', 'list-category__icon')
                    li.list-category__item 
                      a.list-category__link(href="#") Цельностеклянные двери
                        +svg('arrow-category', 'list-category__icon')


            .layout__container
              // Content
              .collection
                .breadcrumb
                  ul.breadcrumb__list
                    li.breadcrumb__item
                      a.breadcrumb__link(href="#") Главная
                    li.breadcrumb__item
                      a.breadcrumb__link(href="#") Каталог
                    li.breadcrumb__item Коллекция Sapporo

                .title-sm Коллекция Sapporo

                .jumbotron.collection__jumbotron
                  .jumbotron__container.lazy(data-bg="url(assets/img/collection/jumbotron/sapporo.png)" href="#")
                    h4.jumbotron__title Коллекция Sapporo
                    p.jumbotron__descr Двери премиум класса, изготовленные с применением ценных пород дерева, европейского шпона и итальянской эмали. Эти двери для тех, кто привык выбирать лучшее. Резные элементы, выполненные по эскизам авторской работы, изящество и грация, изысканный цвет отделки, благородные пропорции, естественная элегантность.

                .list-collection.collection__list-collection
                  .list-collection__row
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Адажио
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-80-adagio.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Акцент
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-81-accent.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Бакокко
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-82-baroque.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Батик
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-83-batik.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Богемия
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-84-bohemia.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Beaujolais
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-85-beaujolais.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Валенсия
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-86-valencia.png", alt="")

                
                    
        
        

