extends pug/base

append vars
  - var title = 'Collection'

block content
  main
    .layout__content
      .page-collection
        .container-fluid
          .layout__wrapper
            .layout__sidebar
              // Sidebar
              aside.sidebar-page
                .category
                  a.category-head-link(href="#")
                    +svg('catalog', 'category-head-link__icon')
                    span.category-head-link__name Категории
                  ul.list-category.category__list-category
                    li.list-category__item 
                      a.list-category__link(href="#") Классические двери
                        +svg('arrow-category', 'list-category__icon')
                    li.list-category__item 
                      a.list-category__link(href="#") Неоклассика
                        +svg('arrow-category', 'list-category__icon')
                    li.list-category__item 
                      a.list-category__link(href="#") Современный стиль
                        +svg('arrow-category', 'list-category__icon')
                    li.list-category__item 
                      a.list-category__link(href="#") Дизайн
                        +svg('arrow-category', 'list-category__icon')
                    li.list-category__item 
                      a.list-category__link(href="#") Цельностеклянные двери
                        +svg('arrow-category', 'list-category__icon')


            .layout__container
              // Content
              .collection
                .breadcrumb
                  ul.breadcrumb__list
                    li.breadcrumb__item
                      a.breadcrumb__link(href="#") Главная
                    li.breadcrumb__item
                      a.breadcrumb__link(href="#") Каталог
                    li.breadcrumb__item Коллекция Omega

                .title-sm Коллекция Omega

                .jumbotron.collection__jumbotron
                  .jumbotron__container.lazy(data-bg="url(assets/img/collection/jumbotron/omega.png)" href="#")
                    h4.jumbotron__title Коллекция Omega
                    p.jumbotron__descr Двери премиум класса, изготовленные с применением ценных пород дерева, европейского шпона и итальянской эмали. Эти двери для тех, кто привык выбирать лучшее. Резные элементы, выполненные по эскизам авторской работы, изящество и грация, изысканный цвет отделки, благородные пропорции, естественная элегантность.

                .list-collection.collection__list-collection
                  .list-collection__row
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Венеция
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-8.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Венеция-2
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-9.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Омега
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-52.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Турин-B
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-59.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Чикаго-В
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-62.png", alt="")
                    .list-collection__col
                      a.list-collection__item(href="card.html")
                        span.list-collection__name Элегант-В
                        img.list-collection__img.lazy(data-src="assets/img/collection/product-min/img-66.png", alt="")
        
        

