html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
body {
  opacity: 1 !important;
  overflow-x:hidden;
  overflow-y: auto;
  &.overflowed {
    overflow-y: hidden;
  }
}
main {
  flex-grow: 1;
  flex: 1 0 auto;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  max-width: $container-fluid-max-width;
  @include md {
    max-width: 970px;
  }
  @include sm {
    max-width: 750px;
  }
  @include xs {
    max-width: 100%;
  }
}
.btn {
  z-index: 1;
  overflow: hidden;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $font-1;
  font-size: 14px;
  background: $gold;
  border-radius: 0;
  color: $white;
  height: 54px;
  padding: 0 40px;
  transition: all 350ms ease;
  @include below(900px) {
    height: 42px;
    font-size: 13px;
  }
  &:hover {
    background: $gold;
    color: $white;
    border-color: $gold;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
    transform: translate3d(0,2px,0);
  }
  &__text {
    z-index: 3;
    position: relative;
    color: $white;
    margin-left: 15px;
    transition: all 400ms ease;
  }
  &__svg {
    width: 24px;
    height: 24px;
    fill: $white;
    transition: all 400ms ease;
  }
}
.title-md {
  font-size: 44px;
  font-family: $font-2;
  font-weight: 700;
  margin: 0;
  @include md {
    font-size: 24px;
  }
}
.title-sm {
  font-size: 16px;
  font-family: $font-1;
  font-weight: 700;
  margin: 0;
}
.tab {
  position: relative;
  &__content-item {
    display: none;
    &_active {
      display: block;
    }
  }
}
.box-section {
  background-position: left top;
  background-repeat: no-repeat;
  padding: 0 60px;
  @include sm {
    padding: 0 40px;
  }
  @include xs {
    padding: 0 20px;
  }
  @include below(500px) {
    padding: 0;
  }
  &__head {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-bottom: 40px;
    @include sm {
      padding-top: 10px;
    }
  }
  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    color: #BDBDBD;
    margin-top: 5px;
    @include md {
      font-size: 16px;
    }
    @include below(500px) {
      display: none;
    }
    &:hover {
      .box-section__icon {
        fill: $gold;
        transform: translateX(3px);
      }
    }
  }
  &__link-mobile {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: $black;
    width: 100%;
    height: 54px;
    background: linear-gradient(227.99deg, #F4E7CE -27.49%, #D6C29D 82.97%);
    margin-top: 10px;
    @include below(500px) {
      display: flex;
    }
  }
  &__icon {
    width: 14px;
    height: 14px;
    fill: #BDBDBD;
    margin-left: 10px;
    transition: all 300ms ease;
  }
  &__icon-mobile {
    width: 10px;
    height: 10px;
    fill: $black;
    margin-left: 10px;
    transition: all 300ms ease;
  }
}

/* Layout */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__content {
    margin-bottom: 200px;
    @include md {
      margin-bottom: 100px;
    }
    @include sm {
      margin-bottom: 60px;
    }
  }
  &__pad-top {
    margin-top: 130px;
    @include md {
      margin-top: 80px;
    }
    @include sm {
      margin-top: 60px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    @include below(1050px) {
      flex-wrap: wrap;
    }
  }
  &__sidebar {
    width: 240px;
    flex-grow: 0;
    flex-shrink: 0;
    @include below(1050px) {
      width: 100%;
    }
  }
  &__container {
    width: 100%;
    flex-grow: 1;
    margin-left: 60px;
  }
}