.popups {
  display: block !important;
}
.popup {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  transition: all 600ms ease;
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding: 40px 20px 40px 20px;
  @include below(900px) {
    padding: 20px;
  }
  @include below(500px) {
    padding: 15px;
  }
  &_active {
    opacity: 1;
    visibility: visible;
  }
  &__close {
    z-index: 200;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  &__close-icon {
    width: 14px;
    height: 14px;
    fill: #C4C4C4;
    transition: all 300ms ease;
    &:hover {
      fill: $gold;
    }
  }
  &__container {
    position: relative;
    margin: 0 auto;
    max-width: 366px;
    width: 100%;
    background: $white;
    display: flex;
    flex-direction: column;
    padding: 45px;
    @include below(500px) {
      padding: 35px;
    }
  }
  &__head-title {
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    @include below(500px) {
      font-size: 16px;
      text-align: left;
      margin-top: 10px;
    }
    &_center {
      text-align: center;
    }
  }
  &__descr {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    @include below(500px) {
      font-size: 12px;
      text-align: left;
    }
    &_center {
      text-align: center;
    }
  }
}
.form-request {
  &__title {
    font-family: $font-1;
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
    @include below(500px) {
      margin-top: 20px;
    }
  }
  &__field {
    width: 100%;
    height: 58px;
    background: $white;
    border: 1px solid #E7E7E7;
    padding: 0 20px;
  }
  &__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65px;
    border-radius: 0;
    border: none;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: $black;
    background: linear-gradient(234.93deg, #F4E7CE -27.49%, #D6C29D 82.97%);
    margin-top: 30px;
  }
}